@media print {

    .no-print,
    .no-print * {
        display: none !important;
    }

    .print {
        overflow: hidden;
        min-height: initial;
        height: initial;
        position: relative;
        margin-top: 0px;
    }
}