#dash-nav .settingsnlogout-wrap {
    padding: 7%;
}

#dash-nav .profile-toggle {
    box-shadow: none;
}

#dash-nav .profile-toggle:hover {
    color: #fff !important;
}

#dash-nav .profile-toggle:focus {
    outline: none;
}

.dropdown-menu {
    width: max-content;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: none;
}

.dropdown-menu .name {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #216de0;
    margin-bottom: 5px;
    text-align: center;
}

.dropdown-menu .email {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
}

.btn-wrap {
    margin-top: 40px;
    justify-content: center;
}

.btn-wrap .settings-btn {
    width: auto;
    height: auto;
    background-color: #fff;
    color: #216de0;
    border: 1px solid #216de0;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 6px 24px;
    box-shadow: none;
    border-radius: 6px;
}

.btn-wrap .log-out-btn {
    background-color: #216de0;
    border: 1px solid #216de0;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    box-shadow: none;
    padding: 6px 20px;
    text-align: center;
    border-radius: 6px;
}

#dash-nav .nav-image-drop {
    height: fit-content;
}

#dash-nav .imagenemail-wrap {
    align-items: center;
}

#dash-nav .namenemail-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#dash-nav .namenemail-nav p.name {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

#dash-nav .namenemail-nav p.email {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}