.dropdown-menu {
    background-color: #ffffff;
    width: 284px;
    padding: 17px 20px;
    background: #FFFFFF;
    border-radius: 6px;
}

.dropdown-menu .name {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #216de0;
    margin-bottom: 5px;
    text-align: center;
}

.dropdown-menu .email {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
}

.btn-wrap {
    margin-top: 40px;
}

.btn-wrap .settings-btn {
    width: 210px;
    background-color: #fff;
    color: #216de0;
    border: 1px solid #216de0;
    font-size: 1.3rem;
    font-weight: 500;
    /* padding: 1% 1%; */
    padding: 6px 20px;
    text-align: center;
    margin-right: 20px;
    border-radius: 6px;
}

.btn-wrap .log-out-btn {
    width: 210px;
    background-color: #216de0;
    border: 1px solid #216de0;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    /* padding: 1% 3%; */
    padding: 6px 20px;
    text-align: center;
    border-radius: 6px;
}