@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.form {
    font-family: 'Inter', sans-serif;
    width: 100%;
}

.form-group>label {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
}

.btn {
    background: #216de0;
    border-radius: 6px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 20px 95px;
}