html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f8f8f8;
}

#experience {
  padding: 0 10px !important;
}

#experience .previewndownload-wrap {
  display: none;
}

#experience p.head-experience {
  display: none;
}

#inputFirstName {
  width: 95%;
}

.form-control::placeholder {
  font-size: 16px;
  line-height: 19px;

  color: #B1B1B1;
}

.button {
  margin-top: 100px;
  text-align: right;
}

.check-input {
  margin-right: 20px !important;
  margin-bottom: -10px;
  padding-left: 1em !important;
  text-align: left;
}

.check-input input {
  margin-right: 200px;
}

.check-input label {
  color: #216de0;
  font-size: 1rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}

#education form div.addnremove-btn-container button {
  box-shadow: none !important;
}

/*Experience */
#inputJobTitle,
#inputCompanyName {
  width: 95%;
}

/* Languages */
.input-form #inputLanguages {
  margin-bottom: 100px;
}

@media screen and (max-width: 590px) {
  .input-form label {
    font-size: 1rem;
  }

  .next,
  .previous {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  #experience {
    padding: 0 15px !important;
  }

  #experience .previewndownload-wrap {
    display: block;
  }

  #experience .main-content-body {
    padding: 40px 20px;
  }

  #experience .main-content-body p.head-experience {
    display: flex;
    justify-content: center;
    margin-bottom: 28px;

    font-size: 16px;
    font-weight: 600;
    line-height: 19px;

  }

  #experience .form-group label {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }

  #experience .form-group input {
    height: 48px;
    border-radius: 6px;
    width: 100%;
  }

  #experience .form-group input::placeholder {
    padding: 17px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
  }

  #experience .form-group select {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
  }

  #experience form .description-box {
    height: 200px;
    border-radius: 6px;
    background: #F8F8F8;
  }

  #experience form div.currentlyWorking-container-desktop {
    display: none !important;
  }

  #experience form div.addnremove-btn-container {
    display: flex;
    justify-content: end;
  }

  #experience form div.addnremove-btn-container button {
    box-shadow: none !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
  }

  #experience .nextnprev-btn-container button {
    padding: 15px 20px;

    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
  }
}

@media screen and (max-width: 436px) {
  .input-form label {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 375px) {
  input::placeholder {
    font-size: 0.7rem;
  }

  .input-form label {
    font-size: 0.6rem;
  }

  .next,
  .previous {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 320px) {
  .input-form label {
    font-size: 0.5rem;
  }
}