#e-nav .profile-nav-mobile,
.navbar-burger-mobile {
    display: none;
}

/* #e-nav .navbar-nav-mobile {
    display: none !important;
} */

.navbar-css {
    color: white;
}

.container .navbar-brand {
    color: white;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.nav-item a {
    color: white;
}

.nav-link,
.nav-item {
    align-self: center;
}

.nav-link:hover {
    color: black;
}

.nav-link img {
    padding-right: 10px;
}

@media screen and (min-width: 500px) {
    #e-nav .navbar-nav-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 500px) {
    #e-nav .navbar-brandname-container {
        text-align: center;
    }

    #e-nav .navbar-brandname-container .navbar-brand {
        font-size: 20px !important;
        font-weight: 400;
        line-height: 24px;
    }

    #e-nav .navbar-brand {
        margin: 0 !important;
    }

    #e-nav .profile-nav-mobile {
        display: flex;
        width: 10%;
    }

    #e-nav .profile-nav-mobile img {
        width: 100%;
        height: 35px;
    }

    #e-nav .navbar-toggler {
        display: none;
    }

    #e-nav .navbar-burger-mobile {
        display: flex;
    }

    #e-nav .navbar-burger-mobile img {
        width: 15px;
        height: 15px;
    }
}