body {
    overflow-x: hidden;
}

.signup-body {
    height: 100vh;
}

/* Navigation bar */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none !important;
}

.right-nav {
    background: #F2F6FB;
    max-width: 605px !important;
}


.logo {
    font-family: "Salsa", cursive;
    font-size: 26px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.logo a {
    color: black !important;
}

.sub-logo {
    color: #216de0 !important;
}

.sign-up-btn {
    background-color: #216de0 !important;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 15px;
}

.btn-primary {
    background-color: #216de0 !important;
    border: none;
    width: 200px;
    height: 40px;
}

a[type="button"]:hover {
    background-color: #fff !important;
    color: #216de0 !important;
    border: 1px solid#216DE0;
    text-decoration: none !important;
    text-decoration-line: none !important;
}

.row .left-signup {
    padding: 13px 0 60px 100px;
    background: url(../../assets/svgs/background-signup.svg);
    background-position: left;
    background-position-x: 15px;
    background-size: 390px;
    background-position-y: 90px;
    background-repeat: no-repeat;

}

.signup-content {
    padding-top: 10px;
}

.form {
    width: 610px;
    margin-top: 40px;
}

.right-div img {
    max-width: 100%;
}

.right-div {
    max-width: 605px !important;
    background: #F2F6FB;
    padding-top: 10px;
}

.already__haveaccount {
    margin-right: 68px;
    align-self: center;
}

.bottom-signup {
    margin-top: 50px;
    align-items: center;
}

.bottom-signup p {
    margin-right: 30px;
    margin-bottom: 0;
}

.bottom-signup a img {
    border-radius: 100%;
    padding: 15px 14px;
    border: 1px solid #2E2E2E;
    margin-right: 30px;
}