#sign-in {
    background: #fff;
}

@media screen and (max-width: 500px) {
    #sign-in .hide-right-signin {
        display: none;
    }

    #sign-in .left-signup {
        padding: 8px 35px;
    }

    #sign-in p.signin__text {
        font-size: 18px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 22px !important;
    }

    #sign-in form {
        width: 100%;
        padding: 1.2rem;
    }

    #sign-in .form-group label {
        font-size: 70%;
    }

    #sign-in .form-group input {
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        margin-top: 8px;
    }

    #sign-in .bottom-signup {
        margin-right: 10px;
    }

    #sign-in .sign-in-btn {
        display: block;
        width: 100%;
    }

    #sign-in .bottom-signup .other-signup a {
        margin-right: 10px;
    }

    #sign-in .bottom-signup .other-signup img {
        width: 20px;
        margin: 0;
    }
}