html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
}

#reference {
    padding: 0 10px !important;
}

#reference .previewndownload-wrap {
    display: none;
}

#reference p.head-reference {
    display: none;
}

.input-form {
    padding: 0;
    border-radius: 6px;
    margin-bottom: 30px;
}

.input-form label {
    color: #474747;
    font-size: 1.25rem;
    font-weight: 400;
}

.input-form input {
    background-color: #F8F8F8;
    border: 1px solid #CDCDCD;
}

#inputFirstName {
    width: 95%;
}

.input-form textarea {
    height: 300px;
}

.button {
    margin-top: 100px;
    text-align: right;
}



/* Education */
#inputStartMonth,
#inputStartYear,
#inputInstitutionName,
#inputFieldName,
#inputCountry,
#inputCity {
    width: 95%;
}

.check-input {
    margin-right: 20px;
    margin-bottom: -10px;
    text-align: right;
}

.check-input label {
    color: #216DE0;
    font-size: 1rem;
}

.add-item {
    text-align: right;
    padding-right: 20px;
}

.add-item a {
    font-size: 1.5rem;
    color: #216DE0;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
}

/*Experience */
#inputJobTitle,
#inputCompanyName {
    width: 95%;
}



@media screen and (max-width: 500px) {
    #reference {
        padding: 0 15px !important;
    }

    #reference .previewndownload-wrap {
        display: block;
    }

    #reference .main-content-body {
        padding: 40px 20px;
        height: auto !important;
        min-height: auto;
    }

    #reference .main-content-body p.reference {
        display: flex;
        justify-content: center;
        margin-bottom: 28px;

        font-size: 16px;
        font-weight: 600;
        line-height: 19px;

    }

    #reference .form-row {
        width: 100%;
    }

    #reference .reference-name,
    .reference-company {
        width: 100% !important;
    }

    #reference .form-group label {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }

    #reference .form-group input {
        height: 48px;
        border-radius: 6px;
    }

    #reference .form-group input::placeholder {
        padding: 17px;
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
    }

    #reference .nextandprev-btn-container {
        margin-top: 20px;
    }

    #reference .nextandprev-btn-container button {
        padding: 15px 20px;

        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
    }

}

@media screen and (max-width: 436px) {
    .input-form label {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 375px) {
    input::placeholder {
        font-size: 0.7rem;
    }

    .input-form label {
        font-size: 0.6rem;
    }

    .next,
    .previous {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 320px) {
    .input-form label {
        font-size: 0.5rem;
    }
}