html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.content {
    padding: 0 10px !important;
}

.input-form {
    padding: 0;
    border-radius: 6px;
    margin-bottom: 30px;
}

.input-form label {
    color: #474747;
    font-size: 1.25rem;
    font-weight: 400;
}

.input-form input {
    background-color: #F8F8F8;
    border: 1px solid #CDCDCD;
}

#inputFirstName {
    width: 95%;
}

.input-form textarea {
    height: 300px;
}

.button {
    margin-top: 100px;
    text-align: right;
}

.next {
    width: 250px;
    background-color: #216DE0;
    border: 1px solid #216DE0;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1% 3%;
    text-align: center;
    border-radius: 6px;
}

.next:hover {
    text-decoration: underline #FFF;
    color: #FFF;
}



/* Education */
#inputStartMonth,
#inputStartYear,
#inputInstitutionName,
#inputFieldName,
#inputCountry,
#inputCity {
    width: 95%;
}

.check-input {
    margin-right: 20px;
    margin-bottom: -10px;
    text-align: right;
}

.check-input label {
    color: #216DE0;
    font-size: 1rem;
}

.add-item {
    text-align: right;
    padding-right: 20px;
}

.add-item a {
    font-size: 1.5rem;
    color: #216DE0;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
}

/* .previous {
    width: 250px;
    background-color: #FFF;
    color: #216DE0;
    border: 1px solid #216DE0;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1% 1%;
    text-align: center;
    margin-right: 20px;
    border-radius: 6px;
}

.previous:hover {
    color: #216DE0;
    text-decoration: underline #216DE0;
} */

/*Experience */
#inputJobTitle,
#inputCompanyName {
    width: 95%;
}

/* Languages */
.input-form #inputLanguages {
    margin-bottom: 100px;
}

@media screen and (max-width: 590px) {
    .input-form label {
        font-size: 1rem;
    }

    .next,
    .previous {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 500px) {
    .input-form label {
        font-size: 0.8rem;
    }

    .next,
    .previous {
        font-size: 1rem;
    }
}

@media screen and (max-width: 436px) {
    .input-form label {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 375px) {
    input::placeholder {
        font-size: 0.7rem;
    }

    .input-form label {
        font-size: 0.6rem;
    }

    .next,
    .previous {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 320px) {
    .input-form label {
        font-size: 0.5rem;
    }
}