html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F8F8F8;
}

#achievement {
    padding: 0 10px !important;
}

#achievement .previewndownload-wrap {
    display: none;
}

#achievement p.head-achievement {
    display: none;
}


.button {
    margin-top: 100px;
    text-align: right;
}



.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
}

#achievement form div.addnremove-btn-container button {
    box-shadow: none !important;
}

@media screen and (max-width: 500px) {
    #achievement {
        padding: 0 15px !important;
    }

    #achievement .previewndownload-wrap {
        display: block;
    }

    #achievement .main-content-body {
        padding: 40px 20px;
        height: auto !important;
        min-height: auto;
    }

    #achievement .main-content-body p.head-achievement {
        display: flex;
        justify-content: center;
        margin-bottom: 28px;

        font-size: 16px;
        font-weight: 600;
        line-height: 19px;

    }

    #achievement .form-group label {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }

    #achievement .form-group input {
        height: 48px;
        border-radius: 6px;
        width: 100%;
    }

    #achievement .form-group input::placeholder {
        padding: 17px;
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
    }

    #achievement .nextnprev-btn-container button {
        padding: 15px 20px;

        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
    }

    #achievement form div.addnremove-btn-container {
        display: flex;
        justify-content: end;
    }

    #achievement form div.addnremove-btn-container button {
        box-shadow: none !important;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
    }
}

@media screen and (max-width: 436px) {
    .input-form label {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 375px) {
    input::placeholder {
        font-size: 0.7rem;
    }

    .input-form label {
        font-size: 0.6rem;
    }

    .next,
    .previous {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 320px) {
    .input-form label {
        font-size: 0.5rem;
    }
}