* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none !important;
}

.navbar-css {
  background-color: #000 !important;
  color: #fff !important;
}

.logo {
  font-family: "Salsa", cursive;
  font-size: 26px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.sub-logo {
  color: #216de0 !important;
}

.nav-link {
  color: #000 !important;
  font-size: 16px;
  line-height: 29px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

.btn-primary {
  background-color: #216de0 !important;
  border: none;
  border-radius: 15px;
}

.nav-link {
  margin-left: 50px;
}

.nav-link:hover {
  color: #216de0 !important;
}

a[type="button"]:hover {
  background-color: #fff !important;
  color: #216de0 !important;
  border: 1px solid#216DE0;
  text-decoration: none !important;
  text-decoration-line: none !important;
}
