html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F8F8F8 !important;
}

.content {
    padding: 0 40px !important;
}

.main-content {
    background-color: #FFF;
    margin: 30px 0;
    padding: 30px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.input-form {
    padding: 0;
    border-radius: 6px;
    margin-bottom: 30px;
}

.input-form label {
    color: #474747;
    font-size: 1.25rem;
    font-weight: 400;
}

.input-form textarea {
    height: 300px !important;
    background-color: #ffffffc5;
}

.button {
    margin-top: 100px;
    text-align: right;
}

.next {
    width: 250px;
    background-color: #216DE0;
    border: 1px solid #216DE0;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1% 3%;
    text-align: center;
    border-radius: 6px;
}

.next:hover {
    text-decoration: underline #FFF;
    color: #FFF;
}


.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
}

.previous {
    width: 250px;
    background-color: #FFF;
    color: #216DE0;
    border: 1px solid #216DE0;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1% 1%;
    text-align: center;
    margin-right: 20px;
    border-radius: 6px;
}

.previous:hover {
    color: #216DE0;
    text-decoration: underline #216DE0;
}

@media screen and (max-width: 590px) {
    .input-form label {
        font-size: 1rem;
    }

    .next, .previous {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 500px) {
    .input-form label {
        font-size: 0.8rem;
    }

    .next, .previous {
        font-size: 1rem;
    }
}

@media screen and (max-width: 436px) {
    .input-form label {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 375px) {
    input::placeholder {
        font-size: 0.7rem;
    }

    .input-form label {
        font-size: 0.6rem;
    }

    .next, .previous {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 320px) {
    .input-form label {
        font-size: 0.5rem;
    }
}