html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f8f8f8;
}

.content {
  padding: 0 10px !important;
}

.input-form {
  padding: 0;
  border-radius: 6px;
  margin-bottom: 30px;
}


.button {
  margin-top: 100px;
  text-align: right;
}


.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}

/* Languages */
.input-form #inputLanguages {
  margin-bottom: 100px;
}

@media screen and (max-width: 590px) {
  .input-form label {
    font-size: 1rem;
  }

  .next,
  .previous {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  .input-form label {
    font-size: 0.8rem;
  }

  .next,
  .previous {
    font-size: 1rem;
  }
}

@media screen and (max-width: 436px) {
  .input-form label {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 375px) {
  input::placeholder {
    font-size: 0.7rem;
  }

  .input-form label {
    font-size: 0.6rem;
  }

  .next,
  .previous {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 320px) {
  .input-form label {
    font-size: 0.5rem;
  }
}