.footer {
    background-color: #216DE0;
    color: #ffffff;
    padding: 100px 0 50px;
}

ul {
    list-style: none;
    padding: 0;
}

.footer-list li {
    margin: 10px 0;
}

#footer p {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
}

#footer .moto {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    font-style: normal;
}