body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepage {
    background-color: #fff;
}

header {
    display: flex;
}

header.mobile-hero {
    display: none;
}

header .left {
    margin-top: 214px;
    margin-left: 100px;
}

header .left .motto {
    font-size: 20px;
    line-height: 24px;
    color: #474747;
}

header .left button p {
    color: white;
}

.right .headerPic {
    position: absolute;
    top: 131px;
    right: 70px;
}

.right .bean {
    position: absolute;
    top: 101px;
    right: 0px;
}

.horizontal1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.horizontal1 div {
    text-align: center;
    width: 350px;
    padding-top: 30px;
}

.horizontal1 img {
    margin-bottom: 13px;
}

.horizontal1 .col1 .head {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #2E2E2E;
}

.head p {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #474747;
}

.body {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
}

#section1 {
    margin: 250px 100px;
    text-align: center;
}

#section1 h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #2E2E2E;
}

#section1 button {
    background: #216DE0;
    border-radius: 6px;
    border: none;
    outline: none;
    margin-top: 50px;
}

#section2 {
    display: flex;
}

#section2 h2.how-it-works-mobile {
    display: none;
}

#section2 .right2 h2.how-it-works-desktop {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #2E2E2E;
}

.right2 {
    margin-left: 100px;
    margin-top: -70px;
}

.list2 {
    display: flex;
    flex-direction: column;
}

.contain2 {
    display: flex;
    margin-top: 50px;
}

#blue {
    background: #216DE0;
    color: white;
}

.contain2 .number {
    border: 1px solid #216DE0;
    border-radius: 16px;
    width: 55px;
    height: 55px;
    text-align: center;
    color: #216DE0;
}

.contain2 .number p {
    font-weight: 500;
    font-size: 24px;
    margin: 13px;
}

.text2 {
    margin-left: 28px;
    border: 0px;
}

.text2 .head2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #2E2E2E;
    margin: 0px;
}

.text2 p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #474747;
    margin: 0px;
    width: 335px;
}

/* Testimonials */

#testimonials {
    padding: 180px 0 100px;
    background: url(../../assets/svgs/background-bottom.svg);
    background-repeat: no-repeat;
    background-position: left;
}

#testimonials h2 {
    font-size: 40px !important;
    font-weight: 600;
    line-height: 48px !important;
    letter-spacing: 0em;
}

#testimonials ul.mobile-testimonials {
    display: none;
}

#testimonials .info .profile-info {
    /* position: relative;
    top: -40px; */
}


.card {
    border: none !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    border-radius: 6px;
    outline: none;
    box-shadow: none;
    background-color: transparent !important;
    margin-bottom: 10px;
}

.comment {
    background: #216DE0;
    border-radius: 16px;
    color: #fff;
}

.info {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #474747;
    background-color: transparent;
    height: auto;
    margin-top: -30px;
}

.profile-info h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

/* .profile-info h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
} */

.comment {
    padding: 52px 59px;
}

.carousel-inner {
    /* margin: 20px; */
    padding: 60px 250px 40px;
}

.carousel-item {
    max-width: 958px;
    margin: 0 auto;
}

.carousel-control {
    padding: 0 100px;
    margin-top: 100px;
    width: min-content;
    height: min-content;
}

.test-wrapper {
    margin-bottom: 30px;
}

.carousel ol {
    margin-bottom: 20;
}

.carousel-indicators li {
    background: #B5CDF1 !important;
}

.carousel-indicators .active {
    background: #216DE0 !important;
}

.carousel-indicators li {
    margin-right: 10px !important;
}

.carousel-indicators li:nth-last-of-type(1) {
    margin: 0;
}

.carousel-indicators li {
    width: 14px !important;
    height: 14px !important;
    border-radius: 100% !important;
    border: none !important;
}

@media (max-width: 575px) {

    /* Start of Mobile Hero Section */
    header.desktop-hero {
        display: none;
    }

    header.mobile-hero {
        display: block;
    }

    .mobile-hero .mobile-title {
        font-size: 24px;
        font-weight: 600;
        line-height: 41px;
    }

    .header-images-mobile {
        position: relative;
    }

    .header-images-mobile img.resume_img {
        width: 62%;
    }

    .header-images-mobile img.bean {
        width: 48%;
        position: absolute;
        top: -20px;
        right: 0;
    }

    .mobile-hero p.motto-mobile {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }

    .mobile-hero button.build-resume-btn-mobile {
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        background: #216DE0;
        border-radius: 3px;
    }

    /* End of mobile hero section */

    /* Start of section 1: our benefits */

    #section1 {
        margin: 0;
        padding: 50px 0;
    }

    #section1 h2 {
        font-size: 20px !important;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 20px;
    }

    #section1 .horizontal1 {
        margin: 0;
    }

    #section1 .horizontal1 div {
        padding: 10px 80px;
    }

    #section1 .horizontal1 div img {
        width: 30px;
        margin-bottom: 10px;
    }

    #section1 .horizontal1 div p.head {
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        margin-bottom: 7px;
    }

    #section1 .horizontal1 div p.body {
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
    }

    #section1 button.btn {
        margin-top: 20px;
        padding: 14px 12px;
        border-radius: 3px;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        width: auto;
    }

    /* End of Section 1 */

    /* Start of Section 2: How it works */
    #section2 {
        flex-direction: column;
    }

    #section2 .left2 {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    #section2 .left2 img {
        width: 61%;
    }

    #section2 h2.how-it-works-mobile {
        display: flex;
        justify-content: center;
        font-size: 20px !important;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #section2 .right2 {
        margin: 0;
        padding: 0 15%;
    }

    #section2 .right2 h2.how-it-works-desktop {
        display: none;
    }

    #section2 .list2 .contain2 {
        margin: 0;
        margin-bottom: 30px;
    }

    #section2 .list2 .contain2:last-child {
        margin: 0;
    }


    #section2 .list2 .contain2 .number {
        display: flex;
        height: auto !important;
        width: auto;
        padding: 8px;
        border-radius: 6px;
    }

    #section2 .list2 .contain2 .number p {
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        text-align: center;
        margin: 0;
        height: auto;
        width: auto;
    }

    #section2 .list2 .text2 {
        margin-left: 20px;
    }

    #section2 .list2 .text2 p.head2 {
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        width: auto;
    }

    #section2 .list2 .text2 p.body2 {
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        width: auto;
    }

    /* Start of testimonials section */
    #testimonials {
        background: none;
        padding: 50px 10.7%;
    }

    #testimonials h2 {
        font-size: 20px !important;
        font-weight: 600;
        line-height: 24px !important;
        margin-bottom: 30px;
    }

    #testimonials .co {
        display: none;
    }

    #testimonials ul.mobile-testimonials {
        display: flex;
        flex-direction: column;
    }

    div.mobile-card {
        background-color: #216DE0;
        border-radius: 16px;
        padding: 30px 6.9% 0;
    }

    div.mobile-card p.testimonial-comment {
        color: white;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }

    div.mobile-card img {
        margin-bottom: -50px;
    }

    ul div.mobile-testimonial-info {
        margin-top: 35px;
    }

    ul div.mobile-testimonial-info p.testimonial-name {
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        margin-bottom: 5px;
    }

    ul div.mobile-testimonial-info p.testimonial-role {
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
    }

    #testimonials button.btn {
        padding: 14px 12px;
        border-radius: 3px;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        width: auto !important;
    }

    /* End of testimonials section */

    /*Start of footer*/

    .footer {
        padding: 30px 5px;
    }

    .footer h1 {
        font-size: 30px !important;
        font-weight: 400;
        line-height: 42px;
    }

    .footer p.moto {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }

    .footer p.quicklinks {
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        margin-bottom: 10px;
    }

    .footer .footer-list .list-item {
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        margin: 0;
        margin-bottom: 10px;
    }

    .footer-list .list-item:last-child {
        margin: 0;
    }

    .footer p.contact-us {
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        margin-bottom: 10px;
    }

    .footer p.follow-us {
        font-size: 12px !important;
        font-weight: 500;
        line-height: 15px;
        margin-bottom: 10px;
    }

}