.sidebar {
    width: 280px;
    height: auto;
    padding: 20px 10px;
}

.contain {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
}

#blue {
    background: #216DE0;
    color: white;
    filter: none;
}

.contain .option {
    width: 130px;
    height: 130px;
    background: #FFFFFF;
    border-radius: 6px;
    text-align: center;
    color: #CCCCCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px 10px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.15));
}

.contain .option img {
    margin-top: 20px;
}

.contain .option p {
    width: 105px;
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

@media (max-width: 770px) {
    .sidebar {
        display: none;
    }
}